.branding a img.logo{
  margin-top: 10px;
  margin-bottom: 0
}
.branding a small{
  display: block;
  color: #fff;
  font-size: 1.1em;
  white-space: nowrap;
  margin-bottom: 10px
}
.u-background-grey-20{
  background: #eee;
}
.u-background-white{
  background: #fff; 
}

.navbar-nav > li > a {
    padding: 11px 20px 10.5px;
}
.nav-main {
    margin-bottom: 0;
}

#main-navbar{
	padding: 0 0 0 20px;
}
.header-nav{
	padding: 0
}
#main-navbar .navbar-nav{
	width: 100%
}
@media (min-width: 992px) {
	.nav-main li.lastli > a{
		background: #003C86	
	}
}
#orari-di-apertura i{
	font-size: 1.2em;
	padding-left: 14px;
	padding-right: 12px;
}
.caret{
	margin-left: 10px;
}

.media {
  // Proper spacing between instances of .media
  margin-top: 15px;

  &:first-child {
    margin-top: 0;
  }
}

.media,
.media-body {
  zoom: 1;
  overflow: hidden;
}

.media-body {
  width: 10000px;
}

.media-object {
  display: block;
}
.media-object.img-thumbnail {
    max-width: none;
}

.media-right,
.media > .pull-right {
  padding-left: 10px;
}

.media-left,
.media > .pull-left {
  padding-right: 10px;
}

.media-left,
.media-right,
.media-body {
  display: table-cell;
  vertical-align: top;
}

.media-middle {
  vertical-align: middle;
}

.media-bottom {
  vertical-align: bottom;
}

.media-heading {
  margin-top: 0;
  margin-bottom: 5px;
}

.media-list {
  padding-left: 0;
  list-style: none;
}

/*.widget_title h3,
h3.widget_title {
  background-color: #555555;
  color: #ffffff;
  padding: 5px 8px;
  text-transform: uppercase;
  margin: 0 0 10px;
  font-size: 0.9em;
  display: inline-block;
}
.widget_title h3 a,
h3.widget_title a {
  color: #ffffff;
  text-decoration: none;
}*/

.widget_title h3,
h3.widget_title,
.openpa-widget-title{
  color: #111;
  font-size: 2em;
  margin-bottom: 20px;
}

/*.content-main .widget .widget_title h3, .content-main .panels-container .media .widget_title h3, .panels-container .content-main .media .widget_title h3, .content-main .leaflet-popup-content .media .widget_title h3, .leaflet-popup-content .content-main .media .widget_title h3,
.content-main .widget h3.widget_title,
.content-main .panels-container .media h3.widget_title,
.panels-container .content-main .media h3.widget_title,
.content-main .leaflet-popup-content .media h3.widget_title,
.leaflet-popup-content .content-main .media h3.widget_title {
  font-size: 1.4em;
}

.widget .widget_title, .panels-container .media .widget_title, .leaflet-popup-content .media .widget_title {
  background: #fff;
  padding: 10px;
}
.widget .widget_title h3, .panels-container .media .widget_title h3, .leaflet-popup-content .media .widget_title h3 {
  padding: 5px 8px;
  text-transform: uppercase;
  font-size: 0.9em;
  margin: 0;
}*/

.widget figcaption[class*=relative], .panels-container .media figcaption[class*=relative], .leaflet-popup-content .media figcaption[class*=relative] {
  padding-right: 85px;
}

.widget_content {
  padding: 23px 10px 25px;
  background: #fff;
}

.widget_tabs {
  overflow: visible !important;
}
.widget_tabs .tab-content {
  /*border-top: 3px solid #555555;*/
  overflow: hidden;
}
.widget_tabs .nav-tabs,
.widget_tabs .events-tabs {
  margin-bottom: 0;
  border: none !important;
  font-size: 0.9em !important;
}
.widget_tabs .nav-tabs li,
.widget_tabs .events-tabs li {
  margin-bottom: 0 !important;
}
.widget_tabs .nav-tabs li a,
.widget_tabs .events-tabs li a {
  border: none !important;
  background: #777777;
  color: #fff;
  display: block;
  padding: 5px 8px !important;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: normal;
}
.widget_tabs .nav-tabs li.active a,
.widget_tabs .events-tabs li.active a {
  background: #555555;
  color: #fff;
  border: none !important;
}

.events.widget_tabs li a {
  /*text-transform: uppercase;
  font-size: .9em;
  font-weight: bold;
  text-decoration: none;
  color: $gray-light;*/
}
.events.widget_tabs li.active a {
  color: #555555;
}
.events .widget_content ul.events-tabs {
  margin-top: -23px;
  text-transform: uppercase;
  font-size: 0.8em;
  margin-bottom: 20px;
  border: none;
}
.events .widget_content ul.events-tabs li {
  padding: 0;
}
.events .widget_content ul.events-tabs li a {
  background: #eeeeee;
  color: #555555;
  padding: 5px 8px;
  text-decoration: none;
}
.events .widget_content ul.events-tabs li.active a {
  background: #555555;
  color: #fff;
}
.events .widget_content .media {
  height: 80px;
}
.events .calendar-date.col-xs-4{
  max-width: 120px;
}
.events .calendar-date .month {
  background: #555555;
  font-size: 1em;
  line-height: 1;
  color: #fff;
  display: block;
  text-align: center;
  padding: 5px 3px;
  text-transform: uppercase;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.events .calendar-date .day {
  background: #fff;
  color: #555555;
  font-size: 2em;
  line-height: 1em;
  font-weight: bold;
  display: block;
  border: 1px solid #555555;
  padding: 8px 3px;
  text-align: center;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.events .media {
  margin-bottom: 15px;
}
.events .owl-controls {
  margin-top: 0;
}
.events .event-item {
  margin-bottom: 10px;
}

.panels-container .media, .leaflet-popup-content .media {
  padding: 10px;
  background: #fff;
}
.panels-container .media .main_image, .leaflet-popup-content .media .main_image {
  float: none;
  margin: 0 0 10px;
  box-shadow: 0 0 #fff;
  border: none;
  border-radius: 0;
}
.panels-container .media .caption, .leaflet-popup-content .media .caption {
  padding: 10px;
}
.panels-container .panel-label, .leaflet-popup-content .panel-label {
  background: #555555;
  left: 20px;
  padding: 5px 8px;
  position: absolute;
  text-transform: uppercase;
  top: 180px;
  color: #fff;
  font-size: 0.9em;
}
.panels-container .media-panel figure, .leaflet-popup-content .media-panel figure {
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center center !important;
  background-color: #ffffff !important;
  margin: 0;
  min-height: 200px;
  border-bottom: 3px solid #555555;
}
.panels-container .media-panel .media.has-image, .leaflet-popup-content .media-panel .media.has-image {
  margin-top: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
.panels-container .media-panel .media h4, .leaflet-popup-content .media-panel .media h4 {
  font-size: 1.3em;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 0;
}
.panels-container .media-panel .media h4 a, .leaflet-popup-content .media-panel .media h4 a {
  text-decoration: none;
}
.panels-container .media-panel .media p.link, .leaflet-popup-content .media-panel .media p.link {
  margin-bottom: 0;
}
.panels-container .panel-story, .leaflet-popup-content .panel-story {
  font-size: 0.8em;
  color: #555555;
}
.panels-container .panel-story a, .leaflet-popup-content .panel-story a {
  color: #555555;
  text-decoration: none;
  font-weight: bold;
}

.content-main .widget.lista_box .widget_content h3, .content-main .panels-container .lista_box.media .widget_content h3, .panels-container .content-main .lista_box.media .widget_content h3, .content-main .leaflet-popup-content .lista_box.media .widget_content h3, .leaflet-popup-content .content-main .lista_box.media .widget_content h3 {
  font-size: 1.3em;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 0;
}
.content-main .widget.lista_box .widget_content h3 small, .content-main .panels-container .lista_box.media .widget_content h3 small, .panels-container .content-main .lista_box.media .widget_content h3 small, .content-main .leaflet-popup-content .lista_box.media .widget_content h3 small, .leaflet-popup-content .content-main .lista_box.media .widget_content h3 small {
  text-transform: none;
}

.panels-container .media{
  margin-bottom: 30px
}

.shadow, .widget, .panels-container .media, .leaflet-popup-content .media, .widget_tabs .tab-content, .panels-container .media-panel figure, 
.leaflet-popup-content .media-panel figure, .main_image, .embed_image {
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.1);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.1);
    -o-box-shadow: 0 1px 3px rgba(0,0,0,0.1);
    -ms-box-shadow: 0 1px 3px rgba(0,0,0,0.1);
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}

.owl-carousel .wide-preview{
  position: absolute;
  overflow: hidden;  
}
.owl-carousel .owl-preview{
  margin: 0
}
.owl-carousel .owl-preview .carousel-preview{
  background-size: cover;
  height:150px;
  position: relative;
}
.owl-carousel .owl-preview .carousel-preview .preview-overlay{
  width: 100%;
  height: 100%;
  position: absolute;
  background: #333;
  opacity: 0.6;
  cursor: pointer;
  border-bottom: 10px solid #9EB637;
}
.owl-carousel .owl-preview .carousel-preview .preview-text{
  color: #fff;
  position: absolute;
  top: 40%;
  text-transform: uppercase;
  left: 20px;
  line-height: 1;
  padding-right: 35%;
  cursor: pointer;
  font-weight: bold;
  width: 100%
}
.owl-carousel .owl-preview .carousel-preview .preview-text:after{
  content: "→";
  position: absolute;
  right: 50px;
  top: -7px;
  font-size: 1.8em
}
.owl-carousel .owl-preview li.active .carousel-preview .preview-overlay{
  opacity: 1;
  background: none;
  border-bottom: 20px solid #00B4F1;
}
.owl-carousel .owl-preview li.active .carousel-preview .preview-text{
  display: none;
}
.owl-carousel .owl-dots{
  text-align: center;
  padding: 10px 0;
}
.owl-carousel .owl-dot{
  border:none;
  width: 20px;
  height: 20px;
  padding:0;
  border-radius: 20px;
  margin: 0 5px
}
.owl-carousel .owl-dot.active{
  background: #00B4F1
}
.showcase .carousel-item .carousel-item-content {
  margin-left: 50px;
  position: relative;  
  padding-top: 50px;
}
.showcase .carousel-item .carousel-item-content .carousel-item-body{
  line-height: 1.1;
  margin: 10px 0;
}
.showcase .carousel-item:before{
  content: " ";
  width: 100%;
  height: 100%;
  position: absolute;
  background: #00B4F1;
  opacity: 0.75;
}
.singolo_in_evidenza .showcase{
  position: relative;
}

@media (min-width: 992px) {
  .showcase .carousel-item:before{
    width: 80%;
  }
  .singolo_in_evidenza .showcase .carousel-item:before{
     width: 100%;
  }
  .showcase .carousel-item .carousel-item-content {
    padding-right: 100px;
    padding-top: 160px;
  }
}

p.link,
.goto{
  text-align: right;
  text-transform: uppercase;
}

p.link a,
.goto a {
  color: #333 !important;
  border: 1px solid #ccc;
  padding: 10px 20px;
}

.page-section-wide,
.page-section{
  margin:0;
}

.page-section-wide{
  padding-left: 5px;
  padding-right: 5px;
}

ul.list-markers-text{
  margin: 0;
}

ul.list-markers-text li a{
  padding: 5px 0;
  font-size: .9em;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
  display: block;
}

ul.list-markers-text li a small{
  text-transform: none;
  font-weight: normal;
  display: block;
}

ul.list-markers-text.list-markers-text-full li {
  display: inline;
}
ul.list-markers-text.list-markers-text-full li a{
  display: inline;
  padding-right: 10px;
}
ul.list-markers-text.list-markers-text-full li a small {
  display: inline;
}

.leaflet-popup-content .media-panel figure{
  min-width: 200px;
}

.widget.geo_located_content_osm .widget_content{
  padding:0;
}

.fa-close::before {
  content: "\f00d";
}

.table-calendar li a{
  font-size: 1em;
  text-transform: uppercase;
}

.calendar-tools.well{
  display: none;
}

.owl-item .media-panel,
.item .media-panel{
  margin: 0 5px;
}

span.lista_banner-text{
  display: flex !important;
  align-items: center;
  height: 100%;
  padding: 10px;
  text-transform: uppercase;
  line-height: 1.1;
}

.events_wide_wrapper ul li a{
  padding: 10px 20px;
  text-transform: uppercase;
  color: #333;
  border: 1px solid #ccc;
}

.events_wide_wrapper ul li.ui-state-active a{
  background: #eee;
}

.owl-carousel .owl-nav{
  text-align: right;
  margin: 5px
}

.owl-carousel .owl-nav .owl-next, 
.owl-carousel .owl-nav .owl-prev{
  border: none;
  background: none;
  font-size: 2em;
}

.owl-item .carousel-caption a {
  color: #fff;
  font-size: 1.3em;
  font-weight: bold;
}

.owl-item .carousel-caption{    
  background: #00B4F1;
  opacity: 0.9;    
  font-size: 1.3em
}

p.goto a.btn-success{
  font-size: .8em;
  color: #fff !important;
  font-weight: bold;
  padding: 5px 10px;
}

.label-default {
    background-color: #00B4F1;
}