/*  =typography
-------------------------------------------------
*/

h1,h2,h3{
  text-transform: uppercase;
  .well &{
    margin-top: 0;
  }
}

h1{
  color: $brand-primary;
  font-weight: 400;
}
h2{color: $brand-secondary}

.page-header{
  border-bottom: 0;
  margin-bottom: 16px;
  margin-top: 0;
  h1{
    margin: 0;
  }
}

.abstract{
  @extend .lead;
  font-family: Lato, sans-serif;
  font-size: 21px;
}

/*  =utils
-------------------------------------------------
*/

.bg-primary{
  background-color: $brand-primary;
}

.goto a{
  color: $brand-info !important;
}

.btn {
  h3 &{
  margin-top: -8px;
  margin-bottom: 10px;
  }
}

.popover-content{
  color: $text-color !important;
}

.pagination li a{
  display: inline-block;
  margin: 0 4px !important;
  min-width: 38px;
}

section{
  margin: 30px 0;
  padding: 30px 0;
  &.padding-0{padding: 0;}
  &.alt{
    background-color: $brand-info;
    color: #fff;
    h2{color: #fff;}
    a{color: $gray-lighter}
  }
  &.alt2{
    background-color: $brand-primary;
    color: #fff;
    h2{color: #fff;}
  }
  &.alt3{
    background-color: $gray-lighter;
  }

  .section-header{
    padding: 40px 0;
    margin-top: -30px;
    h2{
      color: $text-color;
      margin: 0;
      padding: 0;
      span{
        color: $brand-secondary;
        @media (min-width: $screen-md-min){
          display: block;
        }
      }
    }
    &.alt{
      background-color: $brand-info;
      color: #fff;
      h2{color: #fff;}
    }
    &.alt2{
      background-color: $brand-primary;
      color: #fff;
      h2{color: #fff;}
    }
  }
}

@media (min-width: $screen-md-min){
  .section-header .btn {
    float: right;
    margin-top: -6em;
  }
}

.col-sm-6.fluid{
  padding-right: 0;
  @media (max-width: $screen-sm-min) {
    padding: 0;
  }
}

.leaflet-container{
  color: $text-color;
}

.label{
  border-radius: 0;
  padding: .5em .6em .5em;
  font-size: inherit !important;
  font-weight: normal;
  display: inline-block;
  margin: 0 4px 4px 0;
}

.badge{
  font-weight: normal;
  background-color: lighten($gray,10%);
}


.file-box{
  border: 1px solid $gray-light;
  color: $text-color;
  display: block;
  margin-bottom: 20px;
  padding: 1em 2.2em 1em 25px;
  position: relative;
  text-decoration: none !important;
  .file-download{
    background-color: $brand-primary;
    color: #fff;
    display: block;
    position: absolute;
    padding: 0.8em;
    top: 0;
    right: 0;
  }
  .file-name{
    text-transform: uppercase;
  }
  &:hover{
    background-color: $gray-lighter;

    .file-download{color: lighten($brand-info,30%);}
  }
}

.embed-responsive{
  &.issuu{
    > div{max-width: 100%;}
  }
}

/*  =lists
-------------------------------------------------
*/

ul.simple{
  margin: 20px 0;
  padding: 0;
  li{
    list-style: none;
    p{margin-bottom: 0;}
    margin-bottom: 30px;
    &:last-child{
      margin-bottom: 0;
    }
  }
}

.nav-pills{
  li a{
    backgrpund-color: $gray-lighter;
    color: $text-color;
  }
}

.tab-content{margin-top: 8px;}


/*  =forms
-------------------------------------------------
*/

form.form-facets{
  h3{
    font-size: $font-size-base !important;
    margin-top: 0;
  }
}


.facet-content{
  margin-top: 30px;
  &.has_pagination{
    margin-top: 0;
  }
}

/*  =icons
-------------------------------------------------
*/

.circle-icon {
  border-radius: 100%;
  border: 2px solid $text-color;
  color: $text-color;
  display: table-cell !important;
  font-size: 14px !important;
  height: 36px;
  padding: 9px;
  text-align: center;
  transition: .5s;
  vertical-align: middle;
  width: 36px;
}

.fix-editor {
  display: none;
}

a .circle-icon{
  border-color: $brand-primary;
  color: $brand-primary;
  &:hover{
    color: lighten($brand-primary,20%);
    border-color: lighten($brand-primary,20%);
    text-decoration: none !important;
  }
}
/*
footer{
  a .circle-icon{
    border-color: #000;
    color: #000;
    &:hover{
      color: lighten(#000,20%);
      border-color: lighten(#000,20%);
    }
  }
}
*/

.social-buttons{
  a{
    color: $brand-primary;
    cursor: pointer;
    font-size: 10px;
    margin-right: 20px;
    &:last-child{margin-right: 0;}
    :hover{
      color: lighten($brand-primary, 10%);
      text-decoration: none !important;
    }
  }
}

.icon-box{
  margin-bottom: 20px;
  .icon-box-icon{
    float: left;
    margin-right: 10px;
/*    &.fa-stack{
      .fa-stack-1x {color: #fff;}
     }*/
  }
  .icon-box-content{
    line-height: 130%;
    margin-left: 50px;
    strong{
      display: block;
      font-weight: normal;
      text-transform: uppercase;
    }
  }
}

/*  =header
-------------------------------------------------
*/

.branding{
  background-color: $brand-primary;
  display: inline-block;
  text-align: center;
  width: 100%;
  min-height: 97px;
  img.logo{
    display: inline-block;
    height: 50px;
    margin: 20px 0;
  }
  .mobile-contacts{
    position: absolute;
    top: 25px;
    right: 20px;
  }
}


.nav-tools {
  .nav{
    > li{
      > a{
        background-color:  $gray-light;
        color: #fff;
        text-transform: uppercase;
      }
      &.alt{
        > a{
          background-color: $brand-primary;
        }
      }
    }
  }

  li.search {
    margin-right: 20px;
    .btn {
      padding: 0 !important;
    }
    form {
      .form-control {
        border: none !important;
        display: inline-block;
        height: 32px;

      }

    }
    @media (min-width: $screen-md-min) {
      width: 200px;
    }
  }
  li.login{

  }
}

.sub-header{
  @media (max-width: $screen-md-max){
    .container-fluid,
    .showcase{
      padding-left: 0;
      padding-right: 0;
    }
  }
}

/*  =navbar
-------------------------------------------------
*/

.navbar-toggle{
  //border-color: $brand-primary;
  margin-top: 10px;
  margin-left: 15px;
  //float: left;
  position: absolute;
  top: 15px;
  left: 0;
  .icon-bar{
    background-color: #fff;
    width: 34px;
    margin-bottom: 8px;
    &:last-of-type{
      margin-bottom: 0;
    }
  }
}

.nav-main{
  margin-bottom: 10px;
  li{
    > a{
      color: $text-color !important;
      text-transform: uppercase;
    }
  }

  @media (min-width: $screen-md-min){
    ul.dropdown-menu{
      background-color: $gray-lighter;
      border: none;
      box-shadow: none;
      li > a{
        text-transform: none;
        &:hover{background-color: darken($gray-light,2%) !important;}
      }
    }
  }
  @media (min-width: $screen-md-min){
    li{
      &.lastli{
        > a{
          background-color: $brand-secondary;
          color: #fff !important;
        }
      }
    }
  }
}



/*

@media (min-width: $screen-md-min){

  .nav-main{
    .navbar-header{
      .navbar-brand{
        float: left;
        height: 80px;
        margin: 0;
      }
    }
    .navbar-collapse{
      background-color: #fff;
      .navbar-nav > li{
        padding: 28px 0 10px 5px;
        > a {
          color: $text-color;
          padding: 5px 10px;
          &.btn{
            //padding: 5px 15px;
            margin-left: 12px;
            margin-right: 12px;
          }
        }
      }
    }
  }
}

.navbar-nav > li a.btn-ftcoop{
  background-color: $brand-secondary;
  color: #fff !important;
  &:hover{
    background-color: $brand-secondary;
    color: #fff !important;
    text-shadow: 0 0 4px rgba(255,255,255,0.5);
  }
}

/*  =nav-section
-------------------------------------------------
*/

.nav-section{
  .nav{
    li{
      margin-bottom: 8px;
      a{
        background-color: $gray-lighter;
        border-left: 5px solid $brand-info;
        color: $text-color;
        display: block;
        padding: 10px 15px;
        &:hover{background-color: darken($gray-lighter,5%);}
      }
      &.active{
        > a{
          background-color: $brand-info;
          color: #fff;
        }
      }
      .nav-sub{
        margin-top: 8px;
        padding-left: 20px;
        li{
          list-style: none;
          a{
            border-color: $brand-primary;
            &:hover{text-decoration: none;}
          }
          &.active{
            > a{
              background-color: $brand-primary;
              color: #fff;
            }
          }
        }
      }
    }
  }
  @media (min-width: $screen-md-min) {
    .navbar-collapse {
      max-height: none !important;
    }
  }
}

/*  =breadcrumb
-------------------------------------------------
*/

.breadcrumb-container{
  margin-bottom: $line-height-computed;
  .breadcrumb{
    font-size: 13px;
    margin-bottom: 0;
    //text-transform: uppercase;
  }
}



/*  =content-main
-------------------------------------------------
*/
.content-main{
  /*.abstract, .description{
    @extend .col-md-9;
  }
  */
  .description{
    margin-bottom: 40px;
  }

  .content-bottom{
    border-bottom: 1px solid $gray-light;
    border-top: 1px solid $gray-light;
    margin-bottom: 40px;
    padding: 10px 0;
  }
}


.carousel-container{
  margin-bottom: 20px;
  .showcase &{
    margin-bottom: 0;
  }
}


.box{
  background-color: $gray-lighter;
  margin-bottom: 20px;
  padding: 20px;
  h3,h4{
    margin-bottom: 4px;
  }
  h4{
    font-weight: bold;
  }
  &.box-small{
    //font-size: 13px;
    h3,h4{
      font-size: 15px;
    }
    h4{
      font-size: 14px;
    }
  }
  &.transparent{
    background-color: transparent !important;
  }
  &.si_parla_di{
    background: $gray-lighter url(../images/i-comments.png) 20px 76px no-repeat;
    .box-title{margin-top: 140px;}
  }
}

.attribute-geo{
  margin: 20px 0;
}

/*  =grid_item
-------------------------------------------------
*/

.grid-item{
  margin-bottom: 30px;
  .grid-item-content{
    .grid-item-date{
      color: $gray;
      display: block;
      margin: 10px 0;
    }
    h3.grid-item-title,
    h4.grid-item-title{
      font-size: 20px;
      margin-bottom: 10px;
      margin-top: 0;
      text-transform: uppercase;
      a{
        color: $text-color;
      }
    }
    p{margin-bottom: 4px;}
  }

  &.teaser{
    position: relative;
    > .grid-item-content{
      position: absolute;
      top: 45%;
      left: 0;
      padding: 0 90px;
      .goto a{
        font-size: 1.2em;
        text-transform: uppercase;
      }
    }
    &.text-white{
      color: #fff;
      h3.grid-item-title {
        margin-top: 0;
        a {
          color: #fff;
        }
      }
      .goto a{color: #fff !important;}
    }
  }
}

/*  =line-item
-------------------------------------------------
*/


.line-item{
  margin-bottom: 20px;
  position: relative;

  .line-item-content{
    .date{
      line-height: 100%;
      margin-bottom: 6px !important;
    }
    h4{
      margin-top: 0;
      margin-bottom: 6px;
      text-transform: uppercase;
    }
  }

  .line-item-abstract{
    p{margin-bottom: 0;}
  }

  &.alt{
    display: block;
    background-color: $gray-lighter;
    border-left: 8px solid $gray-lighter;
    color: $text-color;
    padding: 12px 100px 12px 12px;
    i{
      color: $gray;
      position: absolute;
      top: 12px;
      right: 12px;
    }
    &:hover{
      color: #fff !important;
      text-decoration: none;
    }
    &.settore-MS_10{
      border-left: 8px solid $brand-consumo;
      &:hover{background-color: $brand-consumo;}
    }
    &.settore-MS_20{
      border-left: 8px solid $brand-credito;
      &:hover{background-color: $brand-credito;}
    }
    &.settore-MS_30{
      border-left: 8px solid $brand-agricole;
      &:hover{background-color: $brand-agricole;}
    }
    &.settore-MS_40{
      border-left: 8px solid $brand-lssa;
      &:hover{background-color: $brand-lssa;}
    }
  }
}

/*  =search-result
-------------------------------------------------
*/
.search-result{
  border-top: 1px solid $gray-light;
  color: $text-color;
  display: block;
  padding: 8px 8px 20px 8px;
  .search-result-title{
    color: $brand-primary;
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 0;
    .search-result-meta{
      color: $text-color;
      font-size: 14px;
    }
  }
  p{margin-bottom: 0;}
  &:first-child{
    border-top: none;
  }
  &:hover{
    background-color: $gray-lighter;
    text-decoration: none;
  }
}

/*  =footer
-------------------------------------------------
*/

footer{
  background: $gray-lighter url(../images/bg-footer-map.png) center 0 no-repeat;
  margin-top: 60px;
  padding: 60px 0;
  position: relative;
  /*
  &:before{
    background: transparent url(../images/bg-footer.png) 50% 0 repeat-x;
    content: " ";
    display: block;
    height: 100px;
    width: 100%;
    position: absolute;
    top: -100px;
  }
  */
  .social-buttons{margin-bottom: 20px;}

  @media (min-width: 1400px) {
    background-size: cover;
    background-position: center center;
  }

  .newsletter-box{
    background: $brand-primary url(../images/bg-newsletter.png) top right no-repeat;
    color: #fff;
    box-shadow: 0 5px 60px -5px rgba(0, 0, 0, 0.8);
    min-height: 290px;
    padding: 54px 44px;
    h2{
      color: #fff;
      margin-top: 0;
    }
    button{
      margin-top: 30px;
      width: 100%;
    }
  }

}

.credits{
  background-color: $gray-dark;
  color: #fff;
  padding: 35px 0;
  a{
    color: #fff;
    &:hover{
      color: #fff;
      text-decoration: underline;
    }
  }
  span,strong{
    display: inline-block;
    padding-left: 0.5em;
    padding-right: 0.5em;
  }
}

/* =owl
-------------------------------------------------
*/

.owl-carousel-container{
  position: relative;
}

.max-width .owl-carousel-contained{
  margin-top: 20px;
  .owl-theme .owl-nav {
    position: absolute;
    right: 0;
    text-align: center;
    top: -72px;
    button{
      background-color: #fff;
      border-radius: 0;
      color: $gray;
      font-size: 34px;
      margin: 0;
      padding: 0 6px !important;
      outline: none !important;
      width: 50px;
      &:hover{
        text-shadow: 0 0 4px $gray-lighter;
      }
    }
  }

}

.owl-carousel-single{

  .owl-nav{
    //background-color: rgba(255,255,255, 0.5);
    position: absolute;
    bottom: 40%;
    right: 0;
    width: 100%;
    button.owl-prev,button.owl-next{
      color: #fff !important;
      display: block;
      font-size: 34px;
      margin: 0;
      padding: 0 6px !important;
      outline: none !important;
      width: 64px;
      text-align: center;
      &:hover{
        background-color: transparent !important;
        text-shadow: 0 0 4px $gray-lighter;
        //color: yellow!important;
      }
    }
    .owl-prev{
      float: left;
      margin-left: 20px;
    }
    .owl-next{
      float: right;
      margin-right: 20px;
    }
  }

  .carousel-item{

    .carousel-item-actions{

      position: absolute;
      bottom: 0;
      left: 0;
      //padding-right: 128px;
      text-align: right;
      width: 100%;
      a{
        background-color: $brand-primary;
        color: #fff;
        padding: 0 15px;
        font-size: 34px;
        line-height: 64px;
        display: inline-block;
      }
    }


  }

  @media (min-width: $screen-md-min) {
    .owl-nav {
      background-color: $brand-info;
      bottom: 0;
      height: 64px;
      width: 128px;
    }
    .carousel-item{
      .carousel-item-actions{
        padding-right: 129px;
      }
    }
  }
}


.owl-carousel-slider-auto{
  &.text-slider{
    /*
    .owl-stage-outer{
      background-color: #fff;
    }
    */
    .carousel-text-item{
      padding: 6px 0;
    }

    .owl-theme .owl-dots{
      text-align: left;
      margin-left: -5px;
    }
  }
}
/*
.carousel-tools{
  position: absolute;
  bottom: 0;
  right: 0;
  .carousel-item-actions{
    position: absolute;
    bottom: 0;
    left: 0;
    //padding-right: 128px;
    text-align: right;
    width: 100%;
    a{
      background-color: $brand-primary;
      color: #fff;
      padding: 0 15px;
      font-size: 34px;
      line-height: 64px;
      display: inline-block;
    }
    @media (min-width: $screen-md-min) {
      padding-right: 129px
    }

  }
}
*/


.owl-carousel-wide{

  .carousel-item{
    margin: 20px 10px;
    &:hover{
      box-shadow:3px 2px 30px #93989E;
      //box-shadow: 3px 2px 25px rgba(0,0,0,0.1);
        //box-shadow: -5px -5px 25px 6px rgba(0,0,0,0.1),
        //5px 5px 20px 6px rgba(0,0,0,0.1);
    }
  }
}

#tweets{
  background: transparent url(../images/i-twitter.png) 0 0 no-repeat;
  min-height: 90px;
  padding: 0 20px 0 100px;
  .carousel-item{
    font-size: 13px;
  }
}

.banner-rivista{
  background: transparent url(../images/i-paper.png) 0 20px no-repeat;
  display: block;
  min-height: 100px;
  border-top: 1px solid #fff;
  margin-top: 20px;
  padding: 10px 20px 0 100px;
  h3{
    margin: 0;
    padding-top: 20px;
  }
  @media (min-width: $screen-md-min) {
    background-position-y: 0;
    border-top: none;
    margin-top: 0;
    padding-top: 0;
  }
}

.showcase .carousel-item{
  background-size: cover;
  background-position: center center;
  min-height: 300px;
  @media (min-width: $screen-md-min) {
    min-height: 500px;
  }

  .carousel-item-content{
    color: $text-color;
    margin-left: 15%;
    padding-top: 130px;
    width: 70%;
    .carousel-item-title{
      margin: 0 !important;
      color: $text-color;
      font-weight: bold;
      .text-alt{
        color: $brand-primary;
        display: block;
      }
    }
    a.cta{color: $text-color !important;}
    &.text-white{
      color: #fff;
      .carousel-item-title{
        color: #fff;
        .text-alt{
          color: $brand-info;
        }
      }
      a.cta{color: #fff !important;}
    }
    @media (min-width: $screen-md-min) {
      font-size: 24px;
      padding-top: 200px;
      .carousel-item-title{
        font-size: 46px;
      }
    }
  }
}

.carousel-item{
  .carousel-caption{
    left: 10%;
    right: 10%;
    text-align: left;
    p.date{margin-bottom: 0 !important;}
    h3{
      margin-top: 0;
      a{
        color: #fff;
      }
    }
  }

  /*
  .carousel-caption {
    display: table;
    height: 100%;
    width: 100%;
    min-height: 100%;
    left: 0;
    top: 0;
    z-index: 11;
    > div{
      vertical-align: bottom;
      display: table-cell;
      padding: 10px 10px 0;
    }
  }
  */

}

.cooperative .carousel-item{

  a{
    color: #fff;
    border-bottom: 8px solid $brand-credito;
    display: block;
    position: relative;
    text-decoration: none;
    h3{
      font-size: 14px;
      position: absolute;
      left: 0;
      bottom: 0;
      margin: 0;
      height: 50%;
      padding: 20px 60px 20px 20px;
      text-shadow: 2px 8px 6px rgba(0,0,0,0.2),
                   0px -5px 35px rgba(255,255,255,0.3);
      transition: .5s ease;
      z-index: 9000;
      span{
        display: block;
        font-size: 20px;
        font-weight: 400;
      }
    }
    span.fa-stack{
      position: absolute;
      bottom: 20px;
      right: 20px;
    }
    .overlay {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: $brand-credito;
      overflow: hidden;
      width: 100%;
      height: 0;
      transition: .5s ease;
      .overlay-text{
        margin: 35% 20px 10px 20px;
      }

    }
    &:hover{
      text-decoration: none;
      .overlay{
        height: 100%;
      }
      h3{
        height: 90%;

      }
    }
  }
  &.agricole a{
    border-color: $brand-agricole;
    .overlay{background-color: $brand-agricole}
  }
  &.consumo a{
    border-color: $brand-consumo;
    .overlay{background-color: $brand-consumo}
  }
  &.lssa a{
    border-color: $brand-lssa;
    h3 span{font-size: 16px}
    .overlay{background-color: $brand-lssa}
  }

}

.vetrina{
  padding: 40px 0;
  min-height:200px;
  @media (min-width: $screen-sm-min){
    min-height:400px;
  }
}

.vetrina-item {
  color: $text-color;
  margin: 20px 0;
  .vetrina-item-title {
    margin: 0 !important;
    color: $text-color;
    .text-alt {
      color: $brand-primary;
      display: block;
    }
  }
  a.cta {
    color: $text-color !important;
  }
  &.text-white {
    color: #fff;
    .vetrina-item-title {
      color: #fff;
      .text-alt {
        color: $brand-info;
      }
    }
    a.cta {
      color: #fff !important;
    }
  }
}


/*  =societa full
-------------------------------------------------
*/

.sedi{

  #coop_map_list ul.simple{
    margin: 0 20px 0 0 ;
  }

  .leaflet-popup-content{
    h5{margin-bottom: 4px}
    p{margin: 0 0 10px !important}
  }
}


/*  =chosen override
-------------------------------------------------
*/

.chosen-container-single .chosen-single div{
  width: 30px;
}

.form-facets{
  .chosen-container-single .chosen-single div{
    i.fa-angle-down{
      display: inline-block;
      margin: 6px;
    }
  }
}

/*  =daterangepicker
-------------------------------------------------
*/

#date_search_container .daterangepicker.show-calendar{
  @media (min-width: $screen-sm-min) {
    width: 670px !important;
    max-width: none !important;
    .ranges ul{
      width: 160px !important;
    }
  }
}

/*  =maps
-------------------------------------------------
*/

.leaflet-tile-pane {
  filter: grayscale(100%);
}

.nav-main li.current ul li.active > a{ color: #fff !important;}
.radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] {
  float: left;
  margin-left: -20px;
  width: auto;
  height: auto;
}

@media (min-width: 992px) {
  .floating-wt #orari-di-apertura-modal .modal-dialog{
    margin: 194px 0 30px auto;
  }
  #orari-di-apertura-modal .modal-dialog{
    margin: 144px 0 30px auto;
  }
  #orari-di-apertura-modal.in .modal-dialog:before{
    content: " ";
    width: 0;
    height: 0;
    background: $brand-primary;
    position: absolute;
    right: 110px;
    border-left: 10px solid #fff;
    border-right: 10px solid #fff;
    border-top: 10px solid $brand-primary;
    z-index: 200;
  }
}
@media (min-width: 1200px) {
  .floating-wt #orari-di-apertura-modal .modal-dialog{
    margin: 146px 0 30px auto;
  }
  #orari-di-apertura-modal .modal-dialog{
    margin: 96px 0 30px auto;
  }
  #orari-di-apertura-modal.in .modal-dialog:before{
    content: " ";
    width: 0;
    height: 0;
    background: $brand-primary;
    position: absolute;
    right: 110px;
    border-left: 10px solid #fff;
    border-right: 10px solid #fff;
    border-top: 10px solid $brand-primary;
    z-index: 200;
  }
}
#orari-di-apertura-modal .modal-content{
  border-radius: 0
}

#orari-di-apertura-modal button.close span{
  font-size: 40px
}

.modal-backdrop {
  opacity: 0 !important;
  filter: alpha(opacity=0) !important;
}

.branding a img.logo{
  margin-top: 10px;
  margin-bottom: 0
}
.branding a small{
  display: block;
  color: #fff;
  font-size: 1.1em;
  white-space: nowrap;
  margin-bottom: 5px;
  font-family: "Arial Rounded", "Arial", "Helvetica", sans-serif;
  font-weight: bold;
}
.branding .mobile-contacts i{
  font-size: 42px;
  vertical-align: middle;
  padding: 0 0 0 20px;
  color: #fff
}
.logo-xs a{
  color: #fff;
  text-decoration: none !important;
}
.logo-xs span{
  font-family: "Arial Rounded", "Arial", "Helvetica", sans-serif;
  font-size: 13px;
  vertical-align: middle;
  white-space: nowrap;
  font-weight: bold;
}
.logo-xs img{
  vertical-align: middle;
}
.logo-xs{
  margin: 0;
  padding: 5px 0;
  text-align: center;
}
.u-background-grey-20{
  background: #eee;
}
.u-background-white{
  background: #fff;
}

.navbar-nav > li > a {
  padding: 11px 20px 10.5px;
}
.nav-main {
  margin-bottom: 0;
}

#main-navbar{
  padding: 0 0 0 20px;
}
.header-nav{
  padding: 0
}
#main-navbar .navbar-nav{
  width: 100%
}
@media (min-width: 992px) {
  .nav-main li.lastli > a{
    background: $brand-primary
  }
}
.button-orari-di-apertura i{
  font-size: 1.2em;
  padding-left: 14px;
  padding-right: 12px;
}
.caret{
  margin-left: 10px;
}

.media {
  margin-top: 15px;
}
.media:first-child {
  margin-top: 0;
}

.media,
.media-body {
  zoom: 1;
  overflow: hidden;
}

.media-body {
  width: 10000px;
}

.media-object {
  display: block;
}
.media-object.img-thumbnail {
  max-width: none;
}

.media-right,
.media > .pull-right {
  padding-left: 10px;
}

.media-left,
.media > .pull-left {
  padding-right: 10px;
}

.media-left,
.media-right,
.media-body {
  display: table-cell;
  vertical-align: top;
}

.media-middle {
  vertical-align: middle;
}

.media-bottom {
  vertical-align: bottom;
}

.media-heading {
  margin-top: 0;
  margin-bottom: 5px;
}

.media-list {
  padding-left: 0;
  list-style: none;
}

/*.widget_title h3,
h3.widget_title {
  background-color: #555555;
  color: #ffffff;
  padding: 5px 8px;
  text-transform: uppercase;
  margin: 0 0 10px;
  font-size: 0.9em;
  display: inline-block;
}
.widget_title h3 a,
h3.widget_title a {
  color: #ffffff;
  text-decoration: none;
}*/

.widget_title h3,
h3.widget_title,
.openpa-widget-title{
  color: #111;
  font-size: 2em;
  margin-bottom: 20px;
}

/*.content-main .widget .widget_title h3, .content-main .panels-container .media .widget_title h3, .panels-container .content-main .media .widget_title h3, .content-main .leaflet-popup-content .media .widget_title h3, .leaflet-popup-content .content-main .media .widget_title h3,
.content-main .widget h3.widget_title,
.content-main .panels-container .media h3.widget_title,
.panels-container .content-main .media h3.widget_title,
.content-main .leaflet-popup-content .media h3.widget_title,
.leaflet-popup-content .content-main .media h3.widget_title {
  font-size: 1.4em;
}

.widget .widget_title, .panels-container .media .widget_title, .leaflet-popup-content .media .widget_title {
  background: #fff;
  padding: 10px;
}
.widget .widget_title h3, .panels-container .media .widget_title h3, .leaflet-popup-content .media .widget_title h3 {
  padding: 5px 8px;
  text-transform: uppercase;
  font-size: 0.9em;
  margin: 0;
}*/

.widget figcaption[class*=relative], .panels-container .media figcaption[class*=relative], .leaflet-popup-content .media figcaption[class*=relative] {
  padding-right: 85px;
}

.widget_content {
  padding: 23px 10px 25px;
  background: #fff;
}

.widget_tabs {
  overflow: visible !important;
}
.widget_tabs .tab-content {
  /*border-top: 3px solid #555555;*/
  overflow: hidden;
}
.widget_tabs .nav-tabs,
.widget_tabs .events-tabs {
  margin-bottom: 0;
  border: none !important;
  font-size: 0.9em !important;
}
.widget_tabs .nav-tabs li,
.widget_tabs .events-tabs li {
  margin-bottom: 0 !important;
}
.widget_tabs .nav-tabs li a,
.widget_tabs .events-tabs li a {
  border: none !important;
  background: #777777;
  color: #fff;
  display: block;
  padding: 5px 8px !important;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: normal;
}
.widget_tabs .nav-tabs li.active a,
.widget_tabs .events-tabs li.active a {
  background: #555555;
  color: #fff;
  border: none !important;
}

.events.widget_tabs li a {
  /*text-transform: uppercase;
  font-size: .9em;
  font-weight: bold;
  text-decoration: none;
  color: $gray-light;*/
}
.events.widget_tabs li.active a {
  color: #555555;
}
.events .widget_content ul.events-tabs {
  margin-top: -23px;
  text-transform: uppercase;
  font-size: 0.8em;
  margin-bottom: 20px;
  border: none;
}
.events .widget_content ul.events-tabs li {
  padding: 0;
}
.events .widget_content ul.events-tabs li a {
  background: #eeeeee;
  color: #555555;
  padding: 5px 8px;
  text-decoration: none;
}
.events .widget_content ul.events-tabs li.active a {
  background: #555555;
  color: #fff;
}
.events .widget_content .media {
  height: 80px;
}
.events .calendar-date.col-xs-4{
  max-width: 120px;
}
.events .calendar-date .month {
  background: #555555;
  font-size: 1em;
  line-height: 1;
  color: #fff;
  display: block;
  text-align: center;
  padding: 5px 3px;
  text-transform: uppercase;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.events .calendar-date .day {
  background: #fff;
  color: #555555;
  font-size: 2em;
  line-height: 1em;
  font-weight: bold;
  display: block;
  border: 1px solid #555555;
  padding: 8px 3px;
  text-align: center;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.events .media {
  margin-bottom: 15px;
}
.events .owl-controls {
  margin-top: 0;
}
.events .event-item {
  margin-bottom: 10px;
}

.panels-container .media, .leaflet-popup-content .media {
  padding: 10px;
  background: #fff;
}
.panels-container .media .main_image, .leaflet-popup-content .media .main_image {
  float: none;
  margin: 0 0 10px;
  box-shadow: 0 0 #fff;
  border: none;
  border-radius: 0;
}
.panels-container .media .caption, .leaflet-popup-content .media .caption {
  padding: 10px;
}
.panels-container .panel-label, .leaflet-popup-content .panel-label {
  background: #555555;
  left: 20px;
  padding: 5px 8px;
  position: absolute;
  text-transform: uppercase;
  top: 180px;
  color: #fff;
  font-size: 0.9em;
}
.panels-container .media-panel figure, .leaflet-popup-content .media-panel figure {
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center center !important;
  background-color: #ffffff !important;
  margin: 0;
  min-height: 200px;
  border-bottom: 3px solid #555555;
}
.panels-container .media-panel .media.has-image, .leaflet-popup-content .media-panel .media.has-image {
  margin-top: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
.panels-container .media-panel .media h4, .leaflet-popup-content .media-panel .media h4 {
  font-size: 1.3em;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 0;
}
.panels-container .media-panel .media h4 a, .leaflet-popup-content .media-panel .media h4 a {
  text-decoration: none;
}
.panels-container .media-panel .media p.link, .leaflet-popup-content .media-panel .media p.link {
  margin-bottom: 0;
}
.panels-container .panel-story, .leaflet-popup-content .panel-story {
  font-size: 0.8em;
  color: #555555;
}
.panels-container .panel-story a, .leaflet-popup-content .panel-story a {
  color: #555555;
  text-decoration: none;
  font-weight: bold;
}

.content-main .widget.lista_box .widget_content h3, .content-main .panels-container .lista_box.media .widget_content h3, .panels-container .content-main .lista_box.media .widget_content h3, .content-main .leaflet-popup-content .lista_box.media .widget_content h3, .leaflet-popup-content .content-main .lista_box.media .widget_content h3 {
  font-size: 1.3em;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 0;
}
.content-main .widget.lista_box .widget_content h3 small, .content-main .panels-container .lista_box.media .widget_content h3 small, .panels-container .content-main .lista_box.media .widget_content h3 small, .content-main .leaflet-popup-content .lista_box.media .widget_content h3 small, .leaflet-popup-content .content-main .lista_box.media .widget_content h3 small {
  text-transform: none;
}

.panels-container .media{
  margin-bottom: 30px
}

.shadow, .widget, .panels-container .media, .leaflet-popup-content .media, .widget_tabs .tab-content, .panels-container .media-panel figure,
.leaflet-popup-content .media-panel figure, .main_image, .embed_image {
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.1);
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.1);
  -o-box-shadow: 0 1px 3px rgba(0,0,0,0.1);
  -ms-box-shadow: 0 1px 3px rgba(0,0,0,0.1);
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}

.owl-carousel .wide-preview{
  position: absolute;
  overflow: hidden;
}
.owl-carousel .owl-preview{
  margin: 0
}
.owl-carousel .owl-preview .carousel-preview{
  background-size: cover;
  height:150px;
  position: relative;
}
.owl-carousel .owl-preview .carousel-preview .preview-overlay{
  width: 100%;
  height: 100%;
  position: absolute;
  background: #333;
  opacity: 0.6;
  cursor: pointer;
  border-bottom: 10px solid #9EB637;
}
.owl-carousel .owl-preview .carousel-preview .preview-text{
  color: #fff;
  position: absolute;
  top: 40%;
  text-transform: uppercase;
  left: 20px;
  line-height: 1;
  padding-right: 35%;
  cursor: pointer;
  font-weight: bold;
  width: 100%
}
.owl-carousel .owl-preview .carousel-preview .preview-text:after{
  content: "→";
  position: absolute;
  right: 50px;
  top: -7px;
  font-size: 1.8em
}
.owl-carousel .owl-preview li.active .carousel-preview .preview-overlay{
  opacity: 1;
  background: none;
  border-bottom: 20px solid $brand-primary-alt;
}
.owl-carousel .owl-preview li.active .carousel-preview .preview-text{
  display: none;
}
.owl-carousel .owl-dots{
  text-align: center;
  padding: 10px 0;
}
.owl-carousel .owl-dot{
  border:none;
  width: 20px;
  height: 20px;
  padding:0;
  border-radius: 20px;
  margin: 0 5px
}
.owl-carousel .owl-dot.active{
  background: $brand-primary-alt
}
.showcase .carousel-item .carousel-item-content {
  margin-left: 50px;
  position: relative;
  padding-top: 50px;
}
.showcase .carousel-item .carousel-item-content .carousel-item-body{
  line-height: 1.1;
  margin: 10px 0;
}
.showcase .carousel-item:before{
  content: " ";
  width: 100%;
  height: 100%;
  position: absolute;
  background: $brand-primary-alt;
  opacity: 0.75;
}
.singolo_in_evidenza .showcase{
  position: relative;
}

@media (min-width: 992px) {
  .showcase .carousel-item:before{
    width: 80%;
  }
  .singolo_in_evidenza .showcase .carousel-item:before{
    width: 100%;
  }
  .showcase .carousel-item .carousel-item-content {
    padding-right: 100px;
    padding-top: 160px;
  }
}

p.link,
.goto{
  text-align: right;
  text-transform: uppercase;
}

p.link a,
.goto a {
  color: #333 !important;
  border: 1px solid #ccc;
  padding: 10px 20px;
}

.page-section-wide,
.page-section{
  margin:0;
}

.page-section-wide{
  padding-left: 5px;
  padding-right: 5px;
}

ul.list-markers-text{
  margin: 0;
}

ul.list-markers-text li a{
  padding: 5px 0;
  font-size: .9em;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
  display: block;
}

ul.list-markers-text li a small{
  text-transform: none;
  font-weight: normal;
  display: block;
}

ul.list-markers-text.list-markers-text-full li {
  display: inline;
}
ul.list-markers-text.list-markers-text-full li a{
  display: inline;
  padding-right: 10px;
}
ul.list-markers-text.list-markers-text-full li a small {
  display: inline;
}

.leaflet-popup-content .media-panel figure{
  min-width: 200px;
}

.widget.geo_located_content_osm .widget_content{
  padding:0;
}

.fa-close::before {
  content: "\f00d";
}

.table-calendar li a{
  font-size: 1em;
  text-transform: uppercase;
}

.calendar-tools.well{
  display: none;
}

.owl-item .media-panel,
.item .media-panel{
  margin: 0 5px;
}

span.lista_banner-text{
  display: flex !important;
  align-items: center;
  height: 100%;
  padding: 10px;
  text-transform: uppercase;
  line-height: 1.1;
}

.events_wide_wrapper ul li a{
  padding: 10px 20px;
  text-transform: uppercase;
  color: #333;
  border: 1px solid #ccc;
  text-decoration:none !important;
}

.events_wide_wrapper ul li.ui-state-active a{
  background: #eee;
}

.owl-carousel .owl-nav{
  text-align: right;
  margin: 5px
}

.owl-carousel .owl-nav .owl-next,
.owl-carousel .owl-nav .owl-prev{
  border: none;
  background: none;
  font-size: 2em;
}

.owl-item .carousel-caption a {
  color: #fff;
  font-size: 1.3em;
  font-weight: bold;
}

.owl-item .carousel-caption{
  background: $brand-primary-alt;
  opacity: 0.9;
  font-size: 1.3em
}

p.goto a.btn-success{
  font-size: .8em;
  color: #fff !important;
  font-weight: bold;
  padding: 5px 10px;
}

.label-default {
  background-color: $brand-primary-alt;
  color: #fff !important;
}
.label-default a{
  color: #fff !important;
}

@media (max-width: 767px) {
  .children-map{
    position: relative;
  }
  .children-map-markers.col-xs-12{
    display: none;
    position: absolute;
    top: 0;
    padding: 0;
    background: #fff;
    height: 100%;
    z-index: 1000;
    font-size: 1.5em;
    overflow-y: hidden;
  }
  .children-map-markers.col-xs-12 ul{
    padding: 20px
  }
  .toggle-markers{
    z-index: 1000;
    position: absolute;
    right: 20px;
    top: 10px;
  }
}

.content-detail .row{
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px dotted #eee;
}

.video-wrapper {
  clear: both;
  text-align: center;
}
